<!DOCTYPE html>
<html>
<head>
    <title>Webserver Ansible</title>
    <style>
        body { font-family: sans-serif; text-align: center; padding: 50px; background-color: #f0f0f0; }
        h1 { color: #e74c3c; }
    </style>
</head>
<body>
    <h1>Halo, Saya Budi Santoso! 👋</h1>
    <p>Website ini dideploy otomatis menggunakan <b>Ansible + Docker</b>.</p>
    <p>Server: Nginx Container</p>
    <p>IP Address web: <b>{{ ansible_default_ipv4.address }}</b></p>
    <p>OS: {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
</body>
</html>
